<!DOCTYPE html>
<html>
    <head>
        <title>Sham – write fast tests</title>
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
        <link rel="stylesheet" href="js/prettify/prettify.css" type="text/css"/>
        <script type="text/javascript" src="js/prettify/prettify.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script>
            $(function () {
                $('pre > code').addClass('prettyprint');
                prettyPrint();
            });
        </script>
    </head>
    <body>
        <a href="http://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>
        <div id="page">
            <div id="header">
                <h1>Sham</h1>
                <span id="tagline">Write fast tests</span>
            </div>
            <div id="main">
            {{ content }}
            </div>
        </div>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3310192-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
